<div class="alert alert-#if($alertType)$alertType #end Type alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	#if($alertMessage)$alertMessage #end
</div>