<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="welcome">JAMR</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        #if ($user == "true" && "$!thisuser" != "")
			#if ($thisuser.getRole().getName().equals("editor") || $thisuser.getRole().getName().equals("publisher"))
				<li>
					<a href="ViewUnpostedLetters" title="Unposted Letter"><span class="glyphicon glyphicon-envelope"></span>Letters</a>
				</li>
				<li>
					<a href="LettersWithReplies" title="Letters with replies"><span class="glyphicon glyphicon-envelope"></span> Replies</a>
				</li>
				<li>
					<a href="ApproveArticles" title="Articles"><span class="glyphicon glyphicon-list-alt"></span> Approve</a>
				</li>
				<li>
					<a href="EditorArticlesForReview" title="Review"><span class="glyphicon glyphicon-list-alt"></span> Review</a>
				</li>
				<li>
					<a href="ViewUsers" title="Users"><span class="glyphicon glyphicon-user"></span> User</a>
				</li>
				<li>
					<a href="ViewDocumentTemplates" title="Templates"><span class="glyphicon glyphicon-file"></span> Templates</a>
				</li>
				<li>
					<a href="EditorViewVolumes" title="Volumes"><span class="glyphicon glyphicon-book"></span> Volumes</a>
				</li>
				<li>
					<a href="manage" title="Manage Contents"><span class="glyphicon glyphicon-list-alt"></span> Manage</a>
				</li>
				<li>
					<a href="ViewGlobal" title="Global Settings"><span class="glyphicon glyphicon-cog"></span>Settings</a>
				</li>
			#elseif ($thisuser.getRole().getName().equals("activeauthor"))
				<li>
					<a href="EditedLetters" title="Letters"><span class="glyphicon glyphicon-envelope"></span> Letters</a>
				</li>
				<li>
					<a href="articles" title="Articles"><span class="glyphicon glyphicon-book"></span> Articles</a>
				</li>
				<li>
						<a href="ReviewerArticlesForReview" title="Review"><span class="glyphicon glyphicon-list-alt"></span> Review</a>
				</li>
			#elseif ($thisuser.getRole().getName().equals("passiveauthor"))
				<li>
					<a href="EditedLetters" title="Letters"><span class="glyphicon glyphicon-envelope"></span> Letters</a>
				</li>
			#elseif ($thisuser.getRole().getName().equals("reader"))
				<li>
					<a href="PublishedVolumes" title="Volumes"><span class="glyphicon glyphicon-book"></span> Volumes</a>
				</li>
			#end						
		#else
			<li>
				<a href="PublishedVolumes" title="Volumes"><span class="glyphicon glyphicon-book"></span> Volumes</a>
			</li>
		#end
      </ul>
      <div class="col-sm-3 col-md-3 pull-right">
	      <form class="navbar-form navbar-left" id="searchForm" role="search" method="POST" action="SearchAll">
	        <div class="input-group">
	            <input type="text" class="form-control" placeholder="Search" name="search">
	            <span class="input-group-btn">
			        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"> </span></button>
			    </span>
	        </div>     
	      </form>
	  </div> 
      <ul class="nav navbar-nav navbar-right">
  		#if($user)
			#if($user=="true")
				<li>
					<a href="signout" title="Sign-out"><span class="glyphicon glyphicon-log-out"></span> Sign-Out</a>
				</li>
			#else			
				<li>
					<a href="#" title="Sign-In" data-toggle="modal" data-target="#loginModal"><span class="glyphicon glyphicon-log-in"></span> Sign-In</a>
				</li>
				<li>
					<a href="#" title="Register" data-toggle="modal" data-target="#registerModal"><span class="glyphicon glyphicon-new-window"></span> Register</a>
				</li>
			#end
		 #end
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


#parse( "/user/loginmd.vm" )
#parse( "/user/registermd.vm" )
