<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    	<div class="navbar-header"><a href="welcome"><img src="assets/img/logo.png" style="height:50px; width:174px;"></a></div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        #if ($user == "true" && "$!thisuser" != "")
			#if ($thisuser.getRole().getName().equals("editor") || $thisuser.getRole().getName().equals("publisher"))
				<li>
					<a href="ViewUnpostedLetters" title="Unposted Letter"><i class="fa fa-envelope"></i>Letters</a>
				</li>
				<li>
					<a href="LettersWithReplies" title="Letters with replies"><i class="fa fa-envelope"></i> Replies</a>
				</li>
				<li>
					<a href="ApproveArticles" title="Articles"><i class="fa fa-list-alt"></i> Approve</a>
				</li>
				<li>
					<a href="EditorArticlesForReview" title="Review"><i class="fa fa-list-alt"></i> Review</a>
				</li>
				<li>
					<a href="ViewUsers" title="Users"><i class="fa fa-users"></i> User</a>
				</li>
				<li>
					<a href="ViewDocumentTemplates" title="Templates"><i class="fa fa-file"></i> Templates</a>
				</li>
				<li>
					<a href="EditorViewVolumes" title="Volumes"><i class="fa fa-book"></i> Volumes</a>
				</li>
				<li>
					<a href="manage" title="Manage Contents"><i class="fa fa-list"></i> Manage</a>
				</li>
				<li>
					<a href="ViewGlobal" title="Global Settings">Settings</a>
				</li>
			#elseif ($thisuser.getRole().getName().equals("activeauthor"))
				<li>
					<a href="EditedLetters" title="Letters"><i class="fa fa-envelope"></i> Letters</a>
				</li>
				<li>
					<a href="articles" title="Articles"><i class="fa fa-book"></i> Articles</a>
				</li>
				<li>
					<a href="ReviewerArticlesForReview" title="Review"><i class="fa fa-list-ol"></i> Review</a>
				</li>
				<li>
					<a href="ViewGlobal" title="Journal Information">About</a>
				</li>
				<li>
					<a href="ViewDocumentTemplates" title="Templates"><i class="fa fa-file"></i> Templates</a>
				</li>
			#elseif ($thisuser.getRole().getName().equals("passiveauthor"))
				<li>
					<a href="EditedLetters" title="Letters"><i class="fa fa-envelope"></i> Letters</a>
				</li>
				<li>
					<a href="ViewGlobal" title="Journal Information">About</a>
				</li>
				<li>
					<a href="ViewDocumentTemplates" title="Templates"><i class="fa fa-file"></i> Templates</a>
				</li>
			#elseif ($thisuser.getRole().getName().equals("reader"))
				<li>
					<a href="PublishedVolumes" title="Volumes"><i class="fa fa-book"></i> Volumes</a>
				</li>
				<li>
					<a href="ViewDocumentTemplates" title="Templates"><i class="fa fa-file"></i> Templates</a>
				</li>
			#end						
		#else
			<li>
				<a href="PublishedVolumes" title="Volumes"><i class="fa fa-book"></i> Volumes</a>
			</li>
			<li>
				<a href="ViewDocumentTemplates" title="Templates"><i class="fa fa-file"></i> Templates</a>
			</li>
		#end
      </ul>
      <div class="col-sm-3 col-md-3 pull-right">
	      <form class="navbar-form navbar-left col-md-2" id="searchForm" role="search" method="POST" action="SearchAll">
	        <div class="input-group">
	            <input type="text" class="form-control" placeholder="Search" name="search">
	            <span class="input-group-btn">
			        <button class="btn btn-default" type="submit">Go!</button>
			    </span>
	        </div>     
	      </form>
	  </div> 
      <ul class="nav navbar-nav navbar-right">
  		#if($user)
			#if($user!="true")
				<li>
					<a href="#" title="Register" data-toggle="modal" data-target="#registerModal"><i class="fa fa-pencil-square-o"></i> Register</a>
				</li>

			#end
			<li class="dropdown">
   				<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cogs"></i> Options<b class="caret"></b></a>
  				<ul class="dropdown-menu">
     				#if($user=="true")            				
     					<li><a href="profile">View Profile</a></li>            				
						<li><a href="newarticle">Upload New Paper</a></li>
						<li><a href="signout" title="Sign-out">Sign-Out</a></li>
					#else			
						<li><a href="#" title="Sign-In" data-toggle="modal" data-target="#loginModal">Sign-In</a></li>
					#end
            		<li class="divider"></li>
            		<li><a href="help">FAQs</a></li>
          		</ul>
        	</li>
       	#end
	  </ul>
	</div>
  </div>
</nav>
#parse( "/user/loginmd.vm" )
#parse( "/user/registermd.vm" )