<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>journal</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Welcome</display-name>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>com.jg.ViewServlets.Welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>velocity</servlet-name>
    <servlet-class>org.apache.velocity.tools.view.servlet.VelocityViewServlet</servlet-class>
    <init-param>
      <param-name>org.apache.velocity.toolbox</param-name>
      <param-value>/WEB-INF/toolbox.xml</param-value>
    </init-param>
    <init-param>
      <param-name>org.apache.velocity.properties</param-name>
      <param-value>/WEB-INF/velocity.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>velocity</servlet-name>
    <url-pattern>*.vm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserHome</display-name>
    <servlet-name>UserHome</servlet-name>
    <servlet-class>com.jg.ViewServlets.UserHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserHome</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserValidate</display-name>
    <servlet-name>UserValidate</servlet-name>
    <servlet-class>com.jg.OperationServlets.UserValidate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserValidate</servlet-name>
    <url-pattern>/validate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegister</display-name>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>com.jg.OperationServlets.UserRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserSignOut</display-name>
    <servlet-name>UserSignOut</servlet-name>
    <servlet-class>com.jg.OperationServlets.UserSignOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSignOut</servlet-name>
    <url-pattern>/signout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Approve authors uploads</description>
    <display-name>ApproveUpload</display-name>
    <servlet-name>ApproveUpload</servlet-name>
    <servlet-class>com.jg.OperationServlets.ApproveUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveUpload</servlet-name>
    <url-pattern>/ApproveUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublishedArticle</display-name>
    <servlet-name>PublishedArticle</servlet-name>
    <servlet-class>com.jg.ViewServlets.PublishedArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublishedArticle</servlet-name>
    <url-pattern>/articles</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageContents</display-name>
    <servlet-name>ManageContents</servlet-name>
    <servlet-class>com.jg.ViewServlets.ManageContents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageContents</servlet-name>
    <url-pattern>/manage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Mark approved articles for publishing</description>
    <display-name>ApproveArticles</display-name>
    <servlet-name>ApproveArticles</servlet-name>
    <servlet-class>com.jg.ViewServlets.ApproveArticles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveArticles</servlet-name>
    <url-pattern>/ApproveArticles</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>See all letters that have not been posted to an author</description>
    <display-name>ViewUnpostedLetters</display-name>
    <servlet-name>ViewUnpostedLetters</servlet-name>
    <servlet-class>com.jg.ViewServlets.ViewUnpostedLetters</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUnpostedLetters</servlet-name>
    <url-pattern>/ViewUnpostedLetters</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>View a letter and post edited text to the author</description>
    <display-name>ViewUnpostedLetter</display-name>
    <servlet-name>ViewUnpostedLetter</servlet-name>
    <servlet-class>com.jg.ViewServlets.ViewUnpostedLetter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUnpostedLetter</servlet-name>
    <url-pattern>/ViewUnpostedLetter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Send edited letter on to article author</description>
    <display-name>PostLetter</display-name>
    <servlet-name>PostLetter</servlet-name>
    <servlet-class>com.jg.OperationServlets.PostLetter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostLetter</servlet-name>
    <url-pattern>/PostLetter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Letters that have been responded to by authors</description>
    <display-name>LettersWithReplies</display-name>
    <servlet-name>LettersWithReplies</servlet-name>
    <servlet-class>com.jg.ViewServlets.LettersWithReplies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LettersWithReplies</servlet-name>
    <url-pattern>/LettersWithReplies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>View a letter with a reply</description>
    <display-name>LetterWithReply</display-name>
    <servlet-name>LetterWithReply</servlet-name>
    <servlet-class>com.jg.ViewServlets.LetterWithReply</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LetterWithReply</servlet-name>
    <url-pattern>/LetterWithReply</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Mark reply as ok and set letter for publishing</description>
    <display-name>PublishLetter</display-name>
    <servlet-name>PublishLetter</servlet-name>
    <servlet-class>com.jg.OperationServlets.PublishLetter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublishLetter</servlet-name>
    <url-pattern>/PublishLetter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>View global journal settings</description>
    <display-name>ViewGlobal</display-name>
    <servlet-name>ViewGlobal</servlet-name>
    <servlet-class>com.jg.ViewServlets.ViewGlobal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewGlobal</servlet-name>
    <url-pattern>/ViewGlobal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Edit global journal settings</description>
    <display-name>EditGlobal</display-name>
    <servlet-name>EditGlobal</servlet-name>
    <servlet-class>com.jg.ViewServlets.EditGlobal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditGlobal</servlet-name>
    <url-pattern>/EditGlobal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Update global journal settings</description>
    <display-name>UpdateGlobal</display-name>
    <servlet-name>UpdateGlobal</servlet-name>
    <servlet-class>com.jg.OperationServlets.UpdateGlobal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateGlobal</servlet-name>
    <url-pattern>/UpdateGlobal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Allows an editor to view all volumes and publish draft volumes</description>
    <display-name>EditorViewVolumes</display-name>
    <servlet-name>EditorViewVolumes</servlet-name>
    <servlet-class>com.jg.ViewServlets.EditorViewVolumes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditorViewVolumes</servlet-name>
    <url-pattern>/EditorViewVolumes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Publish a volume</description>
    <display-name>PublishVolume</display-name>
    <servlet-name>PublishVolume</servlet-name>
    <servlet-class>com.jg.OperationServlets.PublishVolume</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublishVolume</servlet-name>
    <url-pattern>/PublishVolume</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Allows an editor to view all editions in a volume</description>
    <display-name>EditorViewEditions</display-name>
    <servlet-name>EditorViewEditions</servlet-name>
    <servlet-class>com.jg.ViewServlets.EditorViewEditions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditorViewEditions</servlet-name>
    <url-pattern>/EditorViewEditions</url-pattern>
  </servlet-mapping>
</web-app>