<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>journal</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Welcome</display-name>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>com.jg.ViewServlets.Welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>velocity</servlet-name>
    <servlet-class>org.apache.velocity.tools.view.servlet.VelocityViewServlet</servlet-class>
    <init-param>
      <param-name>org.apache.velocity.toolbox</param-name>
      <param-value>/WEB-INF/toolbox.xml</param-value>
    </init-param>
    <init-param>
      <param-name>org.apache.velocity.properties</param-name>
      <param-value>/WEB-INF/velocity.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>velocity</servlet-name>
    <url-pattern>*.vm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserHome</display-name>
    <servlet-name>UserHome</servlet-name>
    <servlet-class>com.jg.ViewServlets.UserHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserHome</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserValidate</display-name>
    <servlet-name>UserValidate</servlet-name>
    <servlet-class>com.jg.OperationServlets.UserValidate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserValidate</servlet-name>
    <url-pattern>/validate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegister</display-name>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>com.jg.OperationServlets.UserRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserSignOut</display-name>
    <servlet-name>UserSignOut</servlet-name>
    <servlet-class>com.jg.OperationServlets.UserSignOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSignOut</servlet-name>
    <url-pattern>/signout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Approve authors uploads</description>
    <display-name>ApproveUpload</display-name>
    <servlet-name>ApproveUpload</servlet-name>
    <servlet-class>com.jg.OperationServlets.ApproveUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveUpload</servlet-name>
    <url-pattern>/approve</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublishedArticle</display-name>
    <servlet-name>PublishedArticle</servlet-name>
    <servlet-class>com.jg.ViewServlets.PublishedArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublishedArticle</servlet-name>
    <url-pattern>/articles</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageContents</display-name>
    <servlet-name>ManageContents</servlet-name>
    <servlet-class>com.jg.ViewServlets.ManageContents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageContents</servlet-name>
    <url-pattern>/manage</url-pattern>
  </servlet-mapping>
</web-app>