<HTML>
<head>
#include( "/bootstrap/head.html" )
<TITLE>$application</TITLE>
</head>
<body>
#parse( "/bootstrap/header.vm" )
<div class="container">
		<div class="row">
			<div class="col-lg-22">
				#if($showAlert)
					#if($showAlert == "true")
						#parse( "/bootstrap/alert.vm" )
					#end
				#end
				<div class="panel panel-default">
					<div class="panel-heading">Templates</div>
					<div class="panel-body">
						<div class="col-lg-12">
							<table class="table">
								<tr>
									<th>Name</th>
									<th>Description</th>
									<th>Format</th>
								</tr>
								#foreach($template in $templates)
									<tr>
										<td>
											#if($user == "true" && "$!thisuser" != "" && ($thisuser.getRole().getName().equals("editor") || $thisuser.getRole().getName().equals("publisher")))
												<a href="EditDocumentTemplate?id=$template.getId()">$template.getName()</a>
											#else
												<a href="$template.getUrl()">$template.getName()</a>
											#end
										</td>
										<td>
											$template.getDescription()
										</td>
										<td>
											$template.getFormat()
										</td>
									</tr>
								#end
							</table>
							#if($user == "true" && "$!thisuser" != "" && ($thisuser.getRole().getName().equals("editor") || $thisuser.getRole().getName().equals("publisher")))
								<a class="btn btn-primary" href="NewDocumentTemplate">Create Template</a>
							#end
						</div>
					</div>
				</div>						
			</div>
		</div>
	</div>
#include( "/bootstrap/footer.html" )
</div>
</body>
</html>