<HTML>
<head>
#include( "/bootstrap/head.html" )
<TITLE>$application</TITLE>
</head>
<body>
#parse( "/bootstrap/header.vm" )
<div class="container">
		<div class="row">
			<div class="col-lg-12">
				#if($showAlert)
					#if($showAlert == "true")
						#parse( "/bootstrap/alert.vm" )
					#end
				#end
				<div class="panel panel-default">
					<div class="panel-heading">Articles for Reviewer Review</div>
					<div class="panel-body">
						<div class="col-lg-12">
						#if($updated_articles.size() != 0)
							<h3>Updated</h3>
							<table class="table">
								<tr>
									<th>Title</th>
									<th>Created At</th>
									<th></th>
								</tr>
								#foreach($updated in $updated_articles)
									<tr>
										<td>
											$updated.getLatestVersion().getTitle()
										</td>
										<td>
											$updated.getLatestVersion().getCreated_at()
										</td>
										<td>
											<a href="ReviewerEditReview?id=$reviewing.getId()">Update Review</a>
										</td>
									</tr>
								#end
							</table>
						#end
						#if($reviewing_articles.size() != 0)
							<h3>Reviewing</h3>
							<table class="table">
								<tr>
									<th>Title</th>
									<th>Created At</th>
									<th></th>
								</tr>
								#foreach($reviewing in $reviewing_articles)
									<tr>
										<td>
											$reviewing.getLatestVersion().getTitle()
										</td>
										<td>
											$reviewing.getLatestVersion().getCreated_at()
										</td>
										<td>
											<a href="ReviewerEditReview?id=$reviewing.getId()">Create Review</a>
										</td>
									</tr>
								#end
							</table>
						#end
						#if($reviewed_articles.size() != 0)
							<h3>Reviewed</h3>
							<table class="table">
								<tr>
									<th>Title</th>
									<th>Created At</th>
								</tr>
								#foreach($reviewed in $reviewed_articles)
									<tr>
										<td>
											$reviewed.getLatestVersion().getTitle()
										</td>
										<td>
											$reviewed.getLatestVersion().getCreated_at()
										</td>
									</tr>
								#end
							</table>
						#end
							
							<h3>Available to review</h3>
							<table class="table">
								<tr>
									<th>Title</th>
									<th>Created At</th>
									<th></th>
								</tr>
								#foreach($article in $articles)
									<tr>
										<td>
											<a href="ReviewerViewArticle?id=$article.getId()">$article.getLatestVersion().getTitle()</a>
										</td>
										<td>
											$article.getLatestVersion().getCreated_at()
										</td>
										<td>
											<a href="ReviwerReviewArticle?id=$article.getId()">Select to review</a>
										</td>
									</tr>
								#end
							</table>
						</div>
					</div>
				</div>						
			</div>
		</div>
	</div>
#include( "/bootstrap/footer.html" )
</div>
</body>
</html>