<HTML>
<head>
#include( "/bootstrap/head.html" )
<TITLE>$application</TITLE>
</head>
<body>
#parse( "/bootstrap/header.vm" )
<div class="container">
		<div class="row">
			<div class="col-lg-12">
				#if($showAlert)
					#if($showAlert == "true")
						#parse( "/bootstrap/alert.vm" )
					#end
				#end
				<div class="panel panel-default">
					<div class="panel-heading">Articles for Editor Review</div>
					<div class="panel-body">
						<div class="col-lg-12">
							<table class="table">
								<tr>
									<th>Title</th>
									<th>Created At</th>
									<th></th>
								</tr>
								#foreach($article in $articles)
									<tr>
										<td>
											$article.getLatestVersion().getTitle()
										</td>
										<td>
											$article.getLatestVersion().getCreated_at()
										</td>
										<td>
											<a href="ReviwerReviewArticle?id=$article.getId()">Review</a>
										</td>
									</tr>
								#end
							</table>
						</div>
					</div>
				</div>						
			</div>
		</div>
	</div>
#include( "/bootstrap/footer.html" )
</div>
</body>
</html>