<HTML>
<head>
#include( "/bootstrap/head.html" )
<TITLE>$application</TITLE>
</head>
<body>
#parse( "/bootstrap/header.vm" )
<div class="container">
		<div class="row">
			<div class="col-lg-22">
				#if($showAlert)
					#if($showAlert == "true")
						#parse( "/bootstrap/alert.vm" )
					#end
				#end
				<div class="panel panel-default">
					<div class="panel-heading">Letter With Reply</div>
					<div class="panel-body">
						<div class="col-lg-12">
							<form method="POST" action="PublishLetter">
								<label>To Author</label>
								<p>$letter.getArticle().getMainAuthor().getFirstname() $letter.getArticle().getMainAuthor().getSurname()</p>
								<label>From</label>
								<p>$letter.getUser().getFirstname() $letter.getUser().getSurname()</p>
								<label>Original Text</label>
								<p>$letter.getText()</p>
								<label>Edited Text</label>
								<p>$letter.getEdited_text()</p>
								<label>Reply Text</label>
								<p>$letter.getReply_text()</p><br />
								<input type="hidden" name="id" value="$letter.getId()" />
								<input type="submit" name="submit" value="Publish Letter" />
							</form>
						</div>
					</div>
				</div>						
			</div>
		</div>
	</div>
#include( "/bootstrap/footer.html" )
</div>
</body>
</html>