<HTML>
<head>
#include( "/bootstrap/head.html" )
<TITLE>$application</TITLE>
</head>
<body>
#parse( "/bootstrap/header.vm" )
<div class="container">
		<div class="row">
			<div class="col-lg-12">
				#if($showAlert)
					#if($showAlert == "true")
						#parse( "/bootstrap/alert.vm" )
					#end
				#end
				<div id="carousel-banner" class="carousel slide" data-ride="carousel">
 							<!-- Indicators -->
  							<ol class="carousel-indicators">
    							<li data-target="#carousel-banner" data-slide-to="0" class="active"></li>
    							<li data-target="#carousel-banner" data-slide-to="1"></li>
    							<li data-target="#carousel-banner" data-slide-to="2"></li>
    							<li data-target="#carousel-banner" data-slide-to="3"></li>
  							</ol>

  							<!-- Wrapper for slides -->
  							<div class="carousel-inner">
    							<div class="item active">
      								<img src="assets/img/banner1.png" style="height:300px; width:1185px;">
    							</div>
								<div class="item">
      								<img src="assets/img/banner2.jpg" style="height:300px; width:1185px;">
    							</div>
    							<div class="item">
      								<img src="assets/img/banner3.jpg" style="height:300px; width:1185px;">
    							</div>
    							<div class="item">
      								<img src="assets/img/banner4.jpg" style="height:300px; width:1185px;">
    							</div>
 							</div>
				</div><br>
				<div class="col-sm-9">
				<div class="panel panel-primary">
					<div class="panel-heading">Welcome to the JAMR Online Journal</div>
					<div class="panel-body">
                       Welcome to JAMR collection of leading journals.Providing high quality content for professionals and researchers across the world.
                            <br>
                            <a href="#" title="Register" data-toggle="modal" data-target="#registerModal">Sign-up</a> for journal email alerts. Be the first to read what's new in your field.
					</div>
				</div>	
				</div>	
				<div class="col-sm-3">										
				#parse("user/latest.vm")
				<div class="panel panel-primary">
					<div class="panel-heading">Contact Us</div>
					<div class="panel-body">
                            Editors emails:
                            <br>
                            <a href="mailto:jfsyeda1@shef.ac.uk">Juvaria Syeda</a>
                            <br>
                            <a href="mailto:aca10at@shef.ac.uk">Aaron Thompson</a>
                            <br>
                            <a href="mailto:aca10mg@shef.ac.uk">Michael Goddard</a>
                            <br>
                            <a href="mailto:rmhate1@shef.ac.uk">Rohit Hate</a>
						</div>
					</div>
				</div>
			</div>				
			</div>
		</div>
	</div>
#include( "/bootstrap/footer.html" )
</div>
#parse( "/user/loginmd.vm" )
#parse( "/user/registermd.vm" )
</body>
</html>