<HTML>
<head>
#include( "/bootstrap/head.html" )
<TITLE>$application</TITLE>
</head>
<body>
#parse( "/bootstrap/header.vm" )
<div class="container">
		<div class="row">
			<div class="col-lg-22">
				#if($showAlert=="true")
					#parse( "/bootstrap/alert.vm" )
				#end
				<div class="panel panel-default">
					<div class="panel-heading">Welcome</div>
					<div class="panel-body">
						<div class="col-lg-9"></div>
						<div class="col-lg-3">					

						</div>
					</div>
				</div>						
			</div>
		</div>
	</div>
#include( "/bootstrap/footer.html" )
</div>
</body>
</html>