<HTML>
<head>
#include( "/bootstrap/head.html" )
<TITLE>$application</TITLE>
</head>
<body>
#parse( "/bootstrap/header.vm" )
<div class="container">
		<div class="row">
			<div class="col-lg-22">
				#if($showAlert)
					#if($showAlert == "true")
						#parse( "/bootstrap/alert.vm" )
					#end
				#end
				<div class="panel panel-default">
					<div class="panel-heading">Letters Submitted</div>
					<div class="panel-body">
						<div class="col-lg-12">
							<table class="table">
								<tr>
									<th>To Author</th>
									<th>From</th>
									<th>Text</th>
									<th>Created At</th>
									<th>View</th>
								</tr>
								#foreach($letter in $letters)
									<tr>
										<td>
											$letter.getArticle().getMainAuthor().getFirstname() $letter.getArticle().getMainAuthor().getSurname()
										</td>
										<td>
											$letter.getUser().getFirstname() $letter.getUser().getSurname()
										</td>
										<td>
											#if ($letter.getText().length >= 50)
												$letter.getText().substring(50)+"..."
											#else
												$letter.getText()
											#end
										</td>
										<td>
											$letter.getCreated_at()
										</td>
										<td>
											<a href="ViewUnpostedLetter?id=$letter.getId()">View</a>
										</td>
									</tr>
								#end
							</table>
						</div>
					</div>
				</div>						
			</div>
		</div>
	</div>
#include( "/bootstrap/footer.html" )
</div>
</body>
</html>