<HTML>
<head>
#include( "/bootstrap/head.html" )
<TITLE>$application</TITLE>
</head>
<body>
#parse( "/bootstrap/header.vm" )
<div class="container">
		<div class="row">
			<div class="col-lg-22">
				#if($showAlert)
					#if($showAlert == "true")
						#parse( "/bootstrap/alert.vm" )
					#end
				#end
				<script>
					#[[
						$( document ).ready(function() {
						   $("#search").keyup(function(){
						        _this = this;
						        $.each($("#searchTable tbody").find("tr"), function() {
						            if($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) == -1)
						               $(this).hide();
						            else
						               $(this).show();                
						        });
					    	});
						}); 
					 ]]#
				</script>
				<div class="panel panel-default">
					<div class="panel-heading">Edition Content</div>
					<div class="panel-body">
						<div class="col-lg-12">
							<h2>Articles </h2><input type="text" id="search" placeholder="Search Articles" class="form-control"/>
							<table class="table" id="searchTable">
								<thead>
									<tr>
										<th>Author</th>
										<th>Title</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
								#foreach($article in $articles)
									<tr>
										<td>
											$article.getMainAuthor().getFirstname() $article.getMainAuthor().getSurname()
										</td>
										<td>
											$article.getLatestVersion().getTitle()
										</td>
										<td>
											<a href="PublishedArticle?id=$article.getId()">View</a>
										</td>
									</tr>
								#end
								</tbody>
							</table>
							<script>
								#[[
									$( document ).ready(function() {
									   $("#searchLetters").keyup(function(){
									        _this = this;
									        $.each($("#searchLetterTable tbody").find("tr"), function() {
									            if($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) == -1)
									               $(this).hide();
									            else
									               $(this).show();                
									        });
								    	});
									}); 
								 ]]#
							</script>
							<h2>Letters </h2><input type="text" id="searchLetters" placeholder="Search Letters" class="form-control"/>
							<table class="table" id="searchLetterTable">
								<thead>
									<tr>
										<th>To Author</th>
										<th>From</th>
										<th>Subject Article</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
								#foreach($letter in $letters)
									<tr>
										<td>
											$letter.getArticle().getMainAuthor().getFirstname() $letter.getArticle().getMainAuthor().getSurname()
										</td>
										<td>
											$letter.getUser().getFirstname() $letter.getUser().getSurname()
										</td>
										<td>
											#if ($letter.getText().length() >= 40)
												$letter.getText().substring(0,40)...
											#else
												$letter.getArticle().getLatestVersion().getTitle()
											#end
										</td>
										<td>
											<a href="PublishedLetter?id=$letter.getId()">View</a>
										</td>
									</tr>
								#end
								</tbody>
							</table>
						</div>
					</div>
				</div>						
			</div>
		</div>
	</div>
#include( "/bootstrap/footer.html" )
</div>
</body>
</html>