<HTML>
<head>
#include( "/bootstrap/head.html" )
<TITLE> Login Page </TITLE>
</head>
<body>
#parse( "/bootstrap/header.vm" )
<div class="container">
		<div class="row">
			<div class="col-lg-22">
			#if($showAlert)
				#if($showAlert == "true")
					#parse( "/bootstrap/alert.vm" )
				#end
			#end
				<div class="panel panel-default">
					<div class="panel-heading">Welcome</div>
					<div class="panel-body">
						<div class="col-lg-9">
							<div class="jumbotron">
 								<h1>Welcome #if( $user_fname && $user_lname ), $user_fname $user_lname #end !</h1>
  								<p>...</p>
 								<p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
								</div>
							</div>
						<div class="col-lg-3">					
						</div>
					</div>
				</div>						
			</div>
		</div>
	</div>
#include( "/bootstrap/footer.html" )
</div>
</body>
</html>