<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
	<div class="modal-dialog">
   		<div class="modal-content">
   			<form name="loginform" id="loginform" form="login" action="validate" method="post">
	    		<div class="modal-header">
	      			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	      			<h4 class="modal-title">Get Access</h4>
	   			 </div>
	    		<div class="modal-body">
					<input class="form-control" type="text" name="uemail" placeholder="E-mail" required/><br>
					<input class="form-control" type="password" name="upwd" placeholder="Password" required/><br>				
	    		</div>
	    		<div class="modal-footer">
	     			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	     			<input class="btn btn-success submit-btn" type="submit" value="Submit">
	    		</div>
    		</form>
   		</div><!-- /.modal-content -->
 	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->